body {
  background-color: #f0f0f0;
}

p {
  color: black;
}

#draggable1 {
  width: 350px;
  height: 240px;
  padding: 0.5em;
  background-color: #fff8a3;
}

#draggable2 {
  width: 200px;
  height: 150px;
  padding: 0.5em;
  background-color: #d2f1ff;
}

#draggable3 {
  width: 400px;
  height: 280px;
  padding: 0.5em;
  background-color: #ffc2a1;
}

#draggable4 {
  width: 400px;
  height: 260px;
  padding: 0.5em;
  background-color: #ffd2d2;
}
