body {
  background-color: #232323;
}

p {
  color: white;
}

#draggable1 {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}

#draggable2 {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}

#draggable3 {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}

#draggable4 {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
